@use 'variables';

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: variables.$main-bg-color;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
}

header {
  @include variables.flexDisplay($flexDir: column);
  align-items: center;
}

div {
  margin: 1rem;
}

button {
  border-radius: 10px;
  font-size: 22px;
  width: 290px;
  height: 80px;

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  margin: 0;
}

h1 {
  color: variables.$h1-color;
  margin: 0;
  font-size: 46px;
  line-height: 69px;
  text-align: center;
}

h2 {
  color: variables.$sub-txt-color;
  margin: 0;
  font-size: 22px;
  line-height: 33px;
  filter: brightness(variables.$brightness);
}

strong {
  font-size: 24px;
  line-height: 36px;
}

nav {
  background: variables.$btn-bg-color;
  border-radius: 20px;
  margin: 5rem;

  button {
    border-radius: 10px;
    margin: 15px 23.75px;
    background: variables.$btn-bg-color;
    border: none;
    color: variables.$nav-txt-color;
    height: 80px;
    width: 351.45px;

    &:hover {
      background: variables.$main-bg-color;
    }
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  margin: 0 auto;
  grid-template-areas:
    "content content"
    "content content"
    "content content";
  width: 757px;
  height: 826px;

  img {
    margin: 0;
    width: 362px;
    height: 226px;

    &:hover {
      cursor: pointer;
    }
  }
}

footer {
  text-align: center;
  color: variables.$sub-txt-color;
  filter: brightness(variables.$brightness);
}
