#root {
  display: flex;
  justify-content: space-evenly;
}

.addButton {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.avatar {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 20px;
}

.container {
  display: grid;
}
.avatarContainer {
  max-width: 50%;
  width: 100%;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}

.avatarContainer .avatar {
  margin-left: 50px;
}

.refreshButton {
  margin-right: auto;
  margin-left: auto;
}
