input {
  width: 554px;
  height: 65px;
  background: #ecf3ff;
  display: flex;
  row-gap: 81px;
}

.todo-form {
  display: flex;
  margin-bottom: 81px;
}

.todo-form_input {
  text-indent: 88px;
  color: rgba(0, 0, 0, 0.6);
  border: none;
}

.todo-form_submit {
  width: 122px;
  height: 65px;
  color: #ffffff;
  background: #5275a0;
  border: none;
}
