
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  row-gap: 10px;
  margin: 20px;
}

.container {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 16px;
  box-shadow: 2px 2px 2px #564a5b;
}

.container__image {
  position: absolute;
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}