* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 680px;
  height: 100%;
}

.task__text {
  font-size: 20px;
  padding: 5px 10px;
  width: auto;
  margin: 0 5px;
}

.task__icon {
  width: 65px;
  height: 65px;
  cursor: pointer;
}
