* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 680px;
  height: 100%;
}

.main-input__input {
  font-size: 20px;
  padding: 5px 10px;
  width: auto;
  margin: 0 5px;
}

.main-input__button {
  width: 122px;
  height: 65px;
  cursor: pointer;
  text-align: center;
}