#root {
  display: flex;
  justify-content: space-evenly;
}

.container {
  max-width: 100%;
  width: 100%;
}

.avatarContainer .avatar {
  margin-left: 50px;
}

.refreshContainer {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  max-width: 50%;
}
